/* http://meyerweb.com/eric/tool/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
  font-family: 'SetoFont';
  src: local("SetoFont") ï¼Œ
}
.clear{
    clear: both;
  }
  .wrap{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin: auto;
  }
  .header{
    width: 100%;
    height: 50px;
    background:white;
    border-bottom: 3px solid #666;
    position: fixed;
    left: 0;
    top: 0;
  }
  .BigLogo{
    width: 100%;
    height: 350px;
    margin: auto;
  }
  .BigLogo img{
    width: 100%;
    max-height: 97%;
  }
  #logo{
    width: 200px;
    height: 45px;
    float: left;
  }
  #logo img{
    width: 100%;
    height: 100%;
  }
  #mobile {
    position: relative;
    font-family: Helvetica;
}
  .menu{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
  }
  .menu li{
    float:left;
    list-style: none;
    text-align: center;
    width: 100px;
    font-size:15px;
  }
  .menu li a{
    display: block;
    text-decoration: none;
    outline: none;
    color: #706e6c;
  }
  .menu li a:hover{
    color: #7C9090;
    text-decoration:underline;
  }
  .menu li+li {    
      border-left: 1px dotted black;
  }
  .login{
    color: #875123;
    list-style-position: inside;
    float: right;
    margin-top: 20px;
    padding-right: 10px;
  }
  .login li{
    color: #706e6c;
    float: left;
    padding-right: 8px;
    list-style: none;
    font-size:15px;
  }
  .login li a{
    color: #4d3126;
    text-decoration: none;
    outline: none;
  }
  .login li+li {    
    border-left: 1px dotted black;
    height: 12px;
    padding-left: 12px;
  }
  .content{
    width: 100%;
    height: 1300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .infor{
    height:120px;
    width: 100%;
  }
  .infor h2{
    font-size: 25px;
    text-align: center;
    line-height: 40px;
  }
  .infor p{
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    color: gray;
  }
  .contentbox{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:center;
  }
  .one{
   height: 25%;
   width: 25%; 
   /* border: 1.5px solid rgb(30, 47, 66); */
  }
  .two{
    height: 25%;
    width: 25%; 
    /* border: 1.5px solid rgb(30, 47, 66); */
    margin-left: 3%;
   }
   .three{
    height: 25%;
    width: 25%; 
    /* border: 1.5px solid rgb(30, 47, 66); */
    margin-left: 3%;
   }
   .one1{
    height: 15%;
    width: 25%; 
    border: 1.5px solid rgb(30, 47, 66);
   }
   .two2{
     height: 15%;
     width: 25%; 
     border: 1.5px solid rgb(30, 47, 66);
     margin-left: 3%;
    }
    .three3{
     height: 15%;
     width: 25%; 
     border: 1.5px solid rgb(30, 47, 66);
     margin-left: 3%;
    }
   .introImg{
    display: flex;
    justify-content:center;
    margin-top: 5px;
   }
  .contentbox img{
    height: 150px;
    width: 150px;
  }
  .contentbox h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(33, 52, 58);
  }
  .contentbox p{
    /* font-family: SetoFont; */
    font-size: 20px;
    margin: 0 10px 0 10px;
    /* text-align: center; */
  }
  .contentbox img{
    max-width: 200px;
    max-height: 200px;
    /* padding-left: 30px; */
  }
  .encyclopedia{
    width: 100%;
    height: 1370px;
    margin-top: 20px;
  }
  .encyclopedia h2{
    font-size:40px;
    color: rgb(71, 68, 68);
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    text-align:center;
  }
    #tab-panel {
      max-width: 1100px;
      margin: 0 auto;
      padding-top: 50px;
      font-family: arial;
  }
  #tab-panel .tabs {
      margin-bottom: 20px;
      background: #FFF;
      overflow: hidden;
      text-align: center;
  }
  #tab-panel .tabs a {
      float: left;
      display: block;
      width: 12.5%;
      height: 75px;
      padding: 15px 0;
      border: 1px solid #CCC;
      font-size: 16px;
      color: #333;
      box-sizing: border-box;
      transition: all .3s;
  }
  #tab-panel .tabs a.active {
      background: rgb(76, 109, 97);
      color: #FFF;
  }
  #tab-panel .tab-content {
      border: 3px solid #CCC;
  }
  #tab-panel .tab-content > li {
      display: none;
      padding: 20px;
      font-size: 14px;
      color: #666;
      line-height: 25px;
  }
  .result{
    max-width: 600px;
    height:850px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: arial;
  }
  .eightfoldPlot {
  width: 550px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  padding: 10px;
  flex-flow: column wrap;
}

.eightfoldBorder {
  width: 572px;
  border: 7px solid #ddd;
  outline: 1px solid #ccc;
  background-color: #ff0000;
  margin: 1px;
}

.eightfoldHeader {
  width: 550px;
  height: 172px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.eightfoldIMG{
   width: 250px;
   height:150px;
}
.eightfoldIMG img {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
 }

.eightfoldName {
  width: 228px;
  height: 162px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
 }

.eightfoldName span {
  height: 30px;
  margin: 0px;
  font: 300 30px/30px montserrat;
  color: #6c6c6c;
}

.eightfoldBody b, .eightfoldTags div: : before, .eightfoldName span: : first-letter, .eightfoldBody h1::first-letter {color: #005682;}
.eightfoldTags {margin-top: 7px;}

.eightfoldTags div {
  display: inline-block;
  background-color: #ddd;
  border-radius: 3px;
  font: 10px/15px Ubuntu;
  text-transform: uppercase;
  color: #9a9a9a;
  padding: 2px 6px;
  margin: 3px 0px 0px 3px;
}

.eightfoldTags div::before {content: '#';}

.eightfoldBody {
  width: 448px;
  margin-top: 10px;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  font: 11px roboto;
  color: #7a7a7a;
  text-align: justify;
}

.eightfoldBody h1 {
  font: 300 24px montserrat;
  color: #bababa;
  border-bottom: 1px solid #bababa;
  padding: 0px 0px 3px 10px;
  margin: 0px;
}

.eightfoldBody h2 {
  font: 10px ubuntu;
  text-transform: uppercase;
  color: #ccc;
  margin: 3px;
  text-align: right;
}

.eightfoldBody p {padding: 25px;}
.eightfoldCredit {font: bold 7px roboto; margin-left: 500px;}
.eightfoldCredit a {font: bold 7px roboto;}

.QQ{ display: flex;
    padding:20px 0 20px 0px;
    border: 1px solid #bababa;
    justify-content:center;
    }
.historyH2{ display: block;
    margin:0px 0 10px 0px;
    font-size:25px;
    text-align:center;
}
  .inforTitle{
    height: 180px;
    width: 100%;
    background: rgb(133, 145, 130);
  }
  .inforTitle h2{
    font-size: 40px;
    color: rgb(33, 52, 58);
    text-align: center;
    line-height: 200px;
  }
  .inforBoard{
    height: 600px;
    width: 100%;
    background: rgb(133, 145, 130);
    display: flex;
    justify-content:center;
  }
  .inforImg{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    border: 2px solid black;
  }
  .inforImg img{
      max-width: 100%;
  }
  .infor1{
    width: 40%;
    text-align: center;
  }
  .infor2{
    width: 40%;
    text-align: center;
    margin-left: 10%;
  }
  .inforBoard h2{
    color: rgb(53, 50, 50);
    font-size: 30px;
    margin-bottom: 30px;
  }
  .inforBoard p{
    color:rgb(33, 52, 58);
    font-size: 18px;
    font-family: verdana;
  }
  .content1 {
    width: 48%;
    text-align: center;
    padding: 30px 0;
    float: left;
    border-radius: 0px;
    padding-top: 100px;
}
.content1 h2 {
    font-size:40px;
    padding: 30px 0 0;
    color: gray;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    text-align:center;
  }
  .content2 h2 {
    font-size:40px;
    padding: 30px 0 0;
    color: gray;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    text-align:center;
  }
.content1 input[type="text"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray;
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/person.png) no-repeat 440px 10px;
  margin-top:4%;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  /*-- W3Layouts --*/
  border-radius: 4px;
}
.content1 input[type="password"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray;
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/lock.png) no-repeat 440px 10px;
  margin-top:6%;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-radius: 4px;
}
.button-row {
  width:100%;
  margin-top:5%;
  padding-bottom:40px;
}
.sign-in {
  padding:10px;
  background-color:rgb(133, 145, 130);
  width:78%;
  border:none;
  cursor:pointer;
  color:black;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  font-size:20px;
  margin-top:2%;
  text-transform:uppercase;
  border-radius:4px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.sign-in:hover {
  background-color:gray;
  color:white;
}
.content2 {
  width:48%;
  text-align: center;
  float:right;
  padding: 30px 0 70px;
  border-radius: 0px;
  padding-top: 100px;
}
.content2 input[type="text"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray; 
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/person.png) no-repeat 440px 10px;
  margin-top:5%;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-radius: 4px;
}
/* .content2 input[type="tel"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray; 
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/phone.png) no-repeat 440px 10px;
  margin-top:4%;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-radius: 4px;
} */
.content2 input[type="email"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray; 
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/mail.png) no-repeat 440px 10px;
  margin-top:4%;
  font-family: 'Muli', sans-serif;
  border-radius: 4px;
}
.content2 input[type="password"] {
  padding:10px 40px 10px 10px;
  width:70%;
  border:1px solid gray;
  color:gray;
  text-align:left;
  outline:none;
  font-size:18px;
  background:url(images/lock.png) no-repeat 440px 10px;
  margin-top:4%;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-radius: 4px;
}
.register {
  padding:10px;
  background-color:rgb(133, 145, 130);
  width:78%;
  border:none;
  cursor:pointer;
  color:black;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  font-size:20px;
  margin-top:7%;
  text-transform:uppercase;
  border-radius:4px;
}
.register:hover {
  background-color:gray;
  color:white;
}
.member{
  height: 300px;
  width: 100%;
  margin: 30px 0 50px 0;
}
.uploadBox{
  float: right;
  width: 45%;
  margin: 0 0 0 10%;
}
.step{
  /* float: left; */
  width: 40%;
  margin: 0 10% 0 5%;
}
.step h2{
  margin: 50px 0 50px 0;
  font-weight: bold;
  font-size: 30px;
  color: gray;
}
.step p{
  /* float: right; */
  margin: 10px 0 20px 0;
  padding-left: 250px;
  /* font-weight: bold; */
  font-size: 15px;
  color: red;
}
.step img{
  /* float: right; */
}

.imgBoard{
  width: 65%;
  height: 300px;
  margin-bottom: 20px;
  border: 2px solid gray;
}
.imgBoard img{
  width: 100%;
  height: 100%;
}
  .a-upload {
    float: left;
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    /* *display: inline; */
    /* *zoom: 1 */
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
.s-upload {
  float: left;
  padding: 4px 10px;
  margin-left: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  /* *display: inline; */
  /* *zoom: 1 */
}

.s-upload  input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer
}

.s-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}
 .contact{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex; 
    justify-content:center;
  }
  .c1{
    margin-top:30px;
    height: 30%;
    width: 25%; 
    text-align:center; 
  }
  .c2{
    margin-top:30px;
    height: 30%;
    width: 25%; 
    text-align:center; 
  }
  .c3{
    height: 30%;
    width: 25%; 
    margin: 30px 0 0 0;
    display: flex; 
    justify-content:center;
  }
  .message{
    height: 120px;
    width: 100%;
  }
  .message p{
      margin-bottom:5px;
      display: block;
      color: gray;
  }
  .message input{
    height: 120px;
    width: 90%;
  }
.submit input{
  padding:10px;
  background-color:rgb(133, 145, 130);
  width:100%;
  color:black;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  font-size:12px;
  margin-top:180%;
  border-radius:4px;
}
.submit input:hover {
    background-color:gray;
    color:white;
  }
.contact h2{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: gray;
}
.contact p1{
  display: block;
  margin-bottom: 10px;
  color: gray;
}
.contact p2{
  display: block;
  margin-bottom: 10px;
  color: gray;
}
.contact p3{
  display: block;
  color: gray;
}
.contact h3{
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  color: gray;
}
.contact a{
  text-decoration: none;
  outline: none;
  color: gray;
  padding: 5px 5px 5px 5px;
  border: 1px dotted gray;
}
.location{
  border-top: 5px solid gray;
  height: 270px;
  width: 100%;
}
.ourlocation h2{
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  margin: 5px 0 5px 0;
}
.location iframe{
  height: 200px;
  width: 100%;
}
  .footer{
    width: 100%;
    height: 20px;
    line-height: 10px;
    font-size: 14px;
  }
  .footllist{
    float:left;
  }
  .footllist li{
    float:left;
    margin-left: 10px;
  }
  .footllist li a{
    color: #706e6c;
    text-align: center;
    text-decoration: none;
  }
  .footllist li+li{
    border-left: 2px solid #706e6c;
    padding-left: 15px;
  }
  .footllist li a:hover{
    color: #7C9090;
    text-decoration:underline;
  }
  .footllist li{
    color: #706e6c;
  }
  .footrlist{
    float: right;
  }
  .footrlist li{
    float: left;
    margin-right: 10px;
    color: #706e6c;
  }
  .footrlist li a{
    color: #706e6c;
    text-align: center;
    text-decoration: none;
  }
  .footrlist li a:hover{
    color: #7C9090;
    text-decoration: underline;
  }
  .footrlist li+li{
    border-left: 2px solid #706e6c;
    padding-left: 15px;
  }
  @media(max-width: 965px){
    .one{
     width: 250px;
    }
    .two{
     width: 250px;
       }
    .three{
     width: 250px;
    }   
    .c1{
        width:40%;
        margin-right: 5%;
    }
    .c2{
        display: none;
    }
    .c3{
        width:40%;
    }
    .message input{
        height: 120px;
        width: 90%;
    }
 }
  @media(max-width: 789px){
    .login li{
     font-size: 12px;
     padding-left: 3px;
    }  
    #logo{
        width: 100px;
        height: 60px;
        float: left;
      }
    .BigLogo{
      height: 400px;
      margin: auto;
      padding-top: 45px;
    }
   .contentbox{
     height: 900px;
     display: grid;
    }
   .one{
     width: 98%;
     height: 25%;
     margin: 0 0 0 1%;
    }
    .two{
     width: 98%;
     height: 25%;
     margin: 0 0 0 1%;
    }
    .three{
     width: 98%;
     height: 25%;
     margin: 0 0 0 1%;
    }
    #mobile {
     position: relative;
     font-family: Helvetica;
    }
    #mobile .menu {
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
      width: 100%;
      background: #FFF;
      margin-top: 46px;
    }
    #mobile .menu li {
      border-bottom: 1px solid #f1f1f1;
      float: none;
      width: 100%;
    }
    #mobile .menu li a {
      display: block;
      padding: 30px;
      font-size: 14px;
      color: #666;
    }
    .infor{
        height:100px;
        width: 100%;
      }
      .infor h2{
        font-size: 20px;
        text-align: center;
        line-height: 10px;
      }
      .infor p{
        font-size: 15px;
        text-align: center;
        line-height: 30px;
        color: gray;
      }
    .inforBoard{
      height: 1100px;
      display: grid;
    }
    .infor1{
        width:80%;
        margin-left: 10%;
    }
    .infor2{
        width:80%;
    }
    .footllist a{
        display: none;
    }
    .footrlist li+li{
        border-left: 0px solid #706e6c;
        padding-left: 1px;
    }
 }
 @media(max-width: 599px){
    .footrlist a{
        display: none;
    }
 }
 @media(max-width: 575px){
    .BigLogo{
        height: 300px;
      }
    .inforImg{
      height:250px;
    }
    .content1{
        width: 98%;
        padding:0;
      }
    .content2{
        width: 98%;
        padding:0 0 50px 0;
    }
    .contact{
        height: 200px;
    }
    .contact h2{
        font-size: 18px;
      }
      .contact p1{
        font-size: 12px;
      }
      .contact p2{
        font-size: 12px;
      }
      .contact p3{
        font-size: 12px;
      }
    .c1{
        width: 80%;
    }
    .c3{
        width: 80%;
    }
 }
 @media(max-width: 414px){
    .BigLogo{
        height: 230px;
        margin: auto;
        padding-top: 45px;
      }
      .infor h2{
        font-size: 15px;
      }
      .infor p{
        font-size: 10px;
      }
      .submit input{
          margin-top: 200%;
      }  
      .contact{
        height: 220px;
    }  
 }
 